# PostgreSQL
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# auth-service
SERVER_PORT=8081
JWT_SECRET=xADi8Nsg/rZT5dkBSpt5OB+m9+frNVnwprnrsb+EYXU=
JWT_EXPIRATION_MS=3600000
API_KEY_ENCRYPTION_SECRET=mekD0daFxQiVDPteEfgMxQKF5nQ63SdUehRumBS7S2I=

# exam-service
SERVER_PORT=8082

# ai-generator-service
SERVER_PORT=8083
AI_PROVIDER=openai
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=qwen2.5:14b

# api-gateway
SERVER_PORT=8080
AUTH_SERVICE_URL=http://localhost:8081
EXAM_SERVICE_URL=http://localhost:8082
